.container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
    border: 1px solid chocolate;
}
.item{
    background-color: crimson;
    width: 100px;
    text-align: center;
    font-size: 100px;
}
.center{
    justify-content: center;
    align-self: auto;
}
.base{
    justify-content: flex-start;
}
.centro{
    justify-content: flex-end;
}